$c-white: #fff;
$c-black: #000;

$swffg-input-background: rgb(125, 169, 194);
$swffg-shadow-left: rgb(73, 12, 11);
$swffg-tableheader-background: rgba(73, 12, 11, 0.85);
$swffg-characteristic-background:rgba(84, 106, 83, 0.85);