&.sheet {
  &.actor {
    $swffg-characteristic-color: rgb(73, 12, 11);
    min-width: 600px;
    min-height: 525px;

    &.adversary {
      min-height: 100px;
    }

    .characteristic-item {
      .characteristic-label {
        background-color: $swffg-characteristic-color;
      }
    }
  }
}