&.sheet {
  &.actor {
    $swffg-characteristic-color: rgb(73, 12, 11);

    .characteristic-item {
      .characteristic-label {
        background-color: $swffg-characteristic-color;
      }
    }

    &.v2 {
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: $swffg-characteristic-color;
          }
        }
      }
    }
  }
}