.biography {

  .container.biography-values {
    position: absolute;
    width: calc(100% - 1rem);
    left: 0.5rem;
    bottom: 3rem;
  }

  .biography-editor {
    height: 50%;
  }

  .bio-grid {
    grid-column: span 5 / span 5;
    grid-template-columns: auto auto auto auto auto;
  }
  .resource {
    &.split {
     width: 10rem;
    }
  }
}
