$swffg-table-header-color: rgb(145, 145, 145);
&.sheet {
  &.actor {

    .character {
      .header-fields {
        flex: 1;
        height: auto;

        h1 {
          margin: 0;
          width: 100%;
        }
      
        .header-name {
          margin: 0;
          position: relative;
          width: 100%;
      
          input {
            margin: 0;
            width: 100%;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
      
            &:focus {
              box-shadow: 0 0 5px $swffg-input-background;
              background-color: $swffg-input-background;
            }
          }
        }
      
        .row {
          display: table-row;
          width: 100%;
      
          div {
            display: table-cell;
          }
      
          .row-input {
      
            .specialization-pill, .species-pill, .career-pill {
              padding: 0.1rem 0.5rem;
              background-color: rgba(255, 255, 255, 0.25);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 1rem;
              cursor: pointer;
      
              .item-delete {
                cursor: pointer;
              }
            }
          
          }
      
          input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid black;
            border-radius: 0;
      
            &:focus {
              box-shadow: 0 0 5px $swffg-input-background;
              background-color: $swffg-input-background;
            }
          }
        }
      
        .profile-block {
          margin-right: 5px;
          margin-left: 5px;
          height: 130px;
          max-width: 130px;
        }
      
        .profile-img {
          flex: 0 0 100px;
          height: 124px;
          width: auto;
          max-width: 124px;
          border: 0;
          margin: auto;
          object-fit: cover;
        }
      }
      
      .sheet-body {
        overflow:hidden;
      
        table {
          &.force-powers {
            border: 0;

            th {
              text-align: left;
              padding: 3px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.25);
              background-color: rgb(73, 12, 11);
              color: white;
              font-size: 12px;
              font-weight: normal;
            }

            td {
              height: 30px;
              line-height: 24px;
              padding: 3px;
              position: relative;

              .item-controls {
                text-align: right;
                width: auto;
                z-index: auto;
              }
            }
          }
        }
      }
    }
  }
}