&.sheet {
  &.item {
    .item-sheet-forcepower {
      .popout-editor {
        height: 100%;
        width: 100%;
        min-height: 2rem;
        position: relative;
      }
    }
  }
}


.item-sheet-forcepower {
  $swffg-force-background: rgb(14, 68, 0);
  $swffg-force-input-background: #1a8200;
  
  min-width: 700px;
  min-height: 600px;

  .talent-background {
    .talent-header {
      background-color: $swffg-force-background;

      div {
        input[type="text"] {
          background-color:$swffg-force-input-background;
        }
      }
    }
  }

  .header-fields {
    .talent-body {
      margin-top: 0.25rem;
      padding: 0;
    }
  }

  .header-fields {
    position: relative;
    padding-bottom: 0;

    .talent-actions {
      position: absolute;
      right: 0.5rem;
      top: 15px;
      color: white;
    }

    textarea {
      max-width: 695px;
    }
  }

  .sheet-body {
    height: calc(100% - 10.25rem);
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
  }

  .talent-cost {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    width: auto;
    height: 0.75rem;
    padding: 0 0.25rem 0 0.5rem;
    font-size: 0.75rem;
    background: #ddd;
    color: rgba(0,0,0,0.75);
    --notchSize: 0.5rem;
    clip-path: polygon(0 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0 100%, 0% calc(100% - var(--notchSize)));

    input {
      width: 1rem;
      height: 0.75rem;
      border: 0;
      background: rgba(0,0,0,0);
      color: $swffg-force-background;
    }
  }
  .talent-modifiers {
    position: absolute;
    right:5px; 
    bottom:2px; 
    z-index: 10;
  }
}

.talent-list {
  .item {
    &.forcepower {
      #context-menu {
        max-width: none;
      }
    }
  }
}