.injuries {
  width: calc(100% - 1rem);
  position: absolute;
  top: 5rem;
  
  .grid, .grid-2col {
    margin: 0;
  }
  
  div.item {
    cursor: pointer;
    border-bottom: 1px solid #bbb;

    &:nth-last-of-type(1) {
      border-bottom: none;
    }

    &:hover {
      background: rgba(25, 24, 19, 0.12);
    }
  }

  .severity {
    position: relative;
  }

  .severity-img {
    max-height: 15px;
    max-width: 15px;
    border: 0;
  }

  &.resource {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
    &.full {
      width: calc(100% - 3.5rem);
    }
  }

  .block-header {
    line-height: initial;
    background-color: rgba(73, 12, 11, 0.85);
    color: white;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: auto;

    --notchSize: 8px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }
  
  .item-controls {
    z-index: 500;
    text-align: end;
    margin: auto;
    .item-control {
      padding: 5px;
    }
  }
}
