&.sheet {
  &.item {
    .popout-editor {
      height: 50px;
      width: 215px;
    }
    .tab[data-tab].active {
      height:100%;
    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .sheet-body {
        margin : 0px 5px;
      }
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: rgb(73, 12, 11);
          }
        }
      }
    }
  }
}