.item-sheet-gear {

  .charname {
    width: 100%;
    
    input {
      color: rgb(44, 3, 68);
      border: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item, .block-background {
    background-color: rgb(233, 198, 253);
  }

  .attribute {
    .block-title {
      background-color: rgb(44, 3, 68);
    }
  }

  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 100px;
    }
    &.double {
      width: 235px;
    }
  }
}