.item-sheet-weapon {

  .charname {
    width: 100%;
    
    input {
      color: rgb(19, 65, 3);
      border: 0;
      
      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item, .block-background {
    background-color: rgb(191,254,191);
  }

  .attribute {
    .block-title {
      background-color: rgb(19, 65, 3);
    }
  }
  
  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {      
      width: 25%;
      &.qty {
        width: 15%;
      }
    }
    &.double {
      width: 235px;
    }
    &.full {
      width: 100%;
    }
  }
}