.item-sheet-weapon {
  $swffg-weapon-color: rgb(191,254,191);
  $swffg-weapon-bg-color: rgb(19, 65, 3);


  .charname {
    width: 100%;
    
    input {
      color: $swffg-weapon-bg-color;
      border: 0;
      
      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }

  .characteristic-item, .block-background {
    background-color: $swffg-weapon-color;
  }

  .characteristic-item {
    .characteristic {
      .adjustedvalues-left {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        width: 1rem;
        border-radius: 0 0.5rem;
        border: 1px solid transparent;
        &.positive {
          background: green;
        }
      }
    }
  }

  .adjustedvalue {
    color: red;
  }

  .attribute {
    .block-title {
      background-color: $swffg-weapon-bg-color;
    }
  }

  .pills {
    &.itemmodifier, &.itemattachment {
      width: auto;
      max-width: 50%;
      width: 50%;

      .item-pill-list {
        max-height: 75px;
        height: 75px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  } 
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-weapon {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 26.6125rem);
        }
      }
    }
  }
}