.item-sheet-armor {
  $swffg-armor-color: rgb(85, 49, 19);
  $swffg-armor-color-light:rgb(233, 192, 158);

  .charname {
    input {
      color: $swffg-armor-color
    }
  }

  .characteristic-item, .block-background {
    background-color: $swffg-armor-color-light
  }

  .attribute {
    .block-title {
      background-color: $swffg-armor-color;
    }
  }
  
  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 100px;
    }
    &.double {
      width: 235px;
    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-armor {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}