.item-sheet-vehicle-weapon {
  
  .popout-editor {
    height: 100%;
    width: 100%;
  }

  .charname {
    width: 100%;
    
    input {
      color: rgb(31, 28, 55);
      border: 0;
      
      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item, .block-background {
    background-color: rgb(204,202,227);
  }
  
  .attribute {
    .block-title {
      background-color: rgb(31, 28, 55);
    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-vehicle-weapon {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}