.item-sheet-gear {
  $swffg-gear-color: rgb(44, 3, 68);
  $swffg-gear-color-light: rgb(233, 198, 253);

  .charname {
    input {
      color: $swffg-gear-color
    }
  }

  .characteristic-item, .block-background {
    background-color: $swffg-gear-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-gear-color;
    }
  }

  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 100px;
    }
    &.double {
      width: 235px;
    }
  }
}