.item-sheet-vehicle-attachment {

  .charname {
    width: 100%;
    
    input {
      color: rgb(200, 123, 77);
      border: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item, .block-background {
    background-color: rgb(223, 198, 141);
  }

  .attribute {
    .block-title {
      background-color: rgb(200, 123, 77);
    }
  }
}