.minion {
  flex: auto;
  .sheet-header {
    .minion-name {
      flex: 1;
      flex-wrap: wrap;

      h1{
        font-size: 1.5rem;
        padding-left: 2rem;
        input {
          margin: 0;
          color: $swffg-tableheader-background;
        }
      }

      input {
        border: 0;

        &:focus {
          box-shadow: 0 0 5px $swffg-input-background;
          background-color: $swffg-input-background;
        }
      }
    }
    .tab {
      height: 100%;
      padding: 0;
      &.characteristics {
      overflow: hidden;
        > div.grid {
          padding: 0.25rem 0;
        }
      }
    }
    .profile-block {
      .block-background {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .minion-stats {
    width: 100%;
    margin: 0 0 1em;
  }

  table.items {
    margin: 1em 0;
  }
  .biography-editor {
    height: 100%;
  }

  .profile-block {
    margin-right: 5px;
    margin-left: 5px;
    height: 130px;
    max-width: 130px;
  }

  .profile-img {
    flex: 0 0 100px;
    height: 124px;
    width: auto;
    border: 0;
    margin: auto;
    object-fit: contain;
  }

  .resource {
    &.single {
      width: 8.125rem;
    }
  }

  .sheet-body {

    .skillsTablesGrid {
      overflow-x:hidden;
      height: 100%;
    }
    &.double {
      width: 235px;
    }
  }

  table.items {
    margin: 1em 0;
  }

  .biography-editor {
    height: 100%;
  }

  .header-fields {
    .resource {
      width: auto;
      &:first-child {margin-left: 0;}
      &:last-child {margin-right: 0;}
      &.single {width: auto;}
    }
  }
}