.charname {
  width: 100%;

  input {
    color: rgb(0, 0, 0);
    border: 0;

    &:focus {
      box-shadow: 0 0 5px $swffg-input-background;
      background-color: $swffg-input-background;
    }
  }
}

&.sheet {
  .sheet-body {
    height: calc(100% - 15.75rem);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 0.25rem;
    padding: 0.5rem;
    background: rgba(255,255,255,0.25);
    border-top: 1px solid rgba(135, 135, 135,1);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $swffg-tableheader-background, rgba(0, 0, 0, 0)) 5%;

    .tab {
      height: 100%;
      padding: 0;
      &.characteristics {
      overflow: hidden;
        > div.grid {
          padding: 0 0.6rem 0.5rem 0;
        }
      }
    }
    .editor {
      width: 100%;
      height: calc(100% - 1.5rem);
    }
  }
  &.v2 {
    .sheet-body {
      height: calc(100% - 14rem);
    }
    &.minion {
      .sheet-body {
        height: calc(100% - 13rem);
      }
    }
  }

  .sheet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
  }

  .tabs {
    .item {
      &.active {
        text-decoration: none;
        text-shadow: none;
      }
    }
  }
  div {
    &.container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      font-size: 11pt;
      .attributes {
        margin-top: 0.25rem;
      }
    }
  }
  
  .character {
    height: 100%;
    overflow: hidden;
    .resource {
      margin: 0.5rem 0.25rem 1.25rem;
    }

    .tab {
      .resource {
        margin-top: 0;
      }
    }
  }
  select {
    width: 100%;
  }
  header {
    &.sheet-header {
      h1 {
        input {
          height: 3rem;
          line-height: 3rem;
          margin: 0.5rem 0;
          width: 100%;
        }
      }
    }
  }
}

.item-name {
  margin: 0;
  padding-bottom: 0;

  .restricted {
    color: #8b0000;
  }
}

.item-quantity {
  position: relative;
}

.grid {
  margin-top: 0;
}

.split {
  .attribute {
    .block-attribute {
      grid-column: span 2 / span 2;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.attribute {
  $swffg-title-color: rgb(65, 80, 100);
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;
  border:0;

  .block-title {
    line-height: initial;
    color: white;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: auto auto 0.25rem;
    background-color: rgb(65, 80, 100);
    line-height: 1rem;
    --notchSize: 0.25rem;
    clip-path: 
      polygon(
        0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .attribute-value {
    &.checkbox {
      text-align: center;
    }
  }

  .block-attribute {
    display: grid;
    gap: 0.25rem;
    margin: 0;
    padding: 0;

    select {
      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

    .block-value {      
      &.block-single {
       width: 100%;
      }
    }
  }

  .block-value {

    textarea {
      resize:none;
      font-family: 'Roboto';
      border : 0;

    &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
        outline: none;
      }
    }
      &.block-single {
      input {
        width: 100%;
      }
    }

    input {
      border:0;
      font-size:14px;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }
}

.injuries {
  .attribute {
    .block-title {
      background-color: $swffg-tableheader-background;
    }
  }
}

.block-background-shadow {
  position: absolute;
  width: 100%;
  bottom: -0.95rem;
  height: 40px;
  background-color: rgb(125, 169, 194);
  padding: 0.9rem 0 0;
  z-index: -1;
  --notchSize: 9px;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.shadow-text {
  position: absolute;
  bottom: 2%;
  font-size: 9px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1rem;
}

.shadow-left {
  background-color: $swffg-tableheader-background;
  width: 50%;
  height: 100%;
  float:left;
  position: relative;
  padding-top: 25px;

  .shadow-text {
    color: white;
    text-transform: uppercase;
  }
}

.shadow-right {
  background-color: rgb(125, 169, 194);
  width: 50%;
  height: 100%;
  float:right;
  position: relative;
  padding-top: 25px;

  .shadow-text {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.tab {
  height: 100%;
  overflow: auto;
}

form {
  overflow: hidden;
}

.quantity {
  position: absolute;
  top: 0;
  &.increase {
    right: 25%;
    cursor: pointer;
  }
  &.decrease {
    left: 25%;
    cursor: pointer;
  }
}