&.sheet {
  &.actor {
    min-width: 600px;
    min-height: 525px;

    &.adversary {
      min-height: 100px;
    }
  }

  .sheet-body {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin: 0 0.25rem;
    padding: 0.5rem;
    background: rgba(255,255,255,0.25);
    border-top : 1px solid rgba(135, 135, 135,1);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), $swffg-tableheader-background, rgba(0, 0, 0, 0)) 5%;

    .tab {
      height: 100%;
      overflow: auto;
      padding: 0;
      &.characteristics {
        > div.grid {
          padding: 0.25rem 0;
        }
      }
    }
    .editor {
      width: 100%;
      height: calc(100% - 1.5rem);
    }
  }

  .sheet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
  }

  .tabs {
    .item {
      &.active {
        text-decoration: none;
        text-shadow: none;
      }
    }
  }
  div {
    &.container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      font-size: 11pt;
      .attributes {
        margin-top: 0.25rem;
      }
    }
  }
  
  .character {
    height: 100%;
    overflow: hidden;
    .resource {
      margin: 0.5rem 0.25rem 1.25rem;
    }

    .tab {
      .resource {
        margin-top: 0;
      }
    }
  }
  
  .resource {
    padding: 0;
    margin: 0.25rem;

    input {
      width: 100%;
      height: 1.5rem;
    }
  }
  select {
    width: 100%;
  }
  header {
    &.sheet-header {
      h1 {
        input {
          height: 3rem;
          line-height: 3rem;
          margin: 0.5rem 0;
          width: 100%;
        }
      }
    }
  }
}
