.skill-name {
  position: relative;
  font-size: 0.75rem;
  padding-right: 1.5rem;
}

.skill-characteristic {
  display: inline;
  font-size: 0.65rem;
  font-style: italic;
  text-transform: uppercase;
  position: absolute;
  right: 0;
}

.skill-characteristic-select-dialog {
  display: inline-block;
  margin: auto;

  li {
    list-style: none;
  }
}

.skill-create-dialog {
  display: inline-flex;
  margin: auto;
}

.tableWithHeader {
  overflow-y: auto;
  margin: 0;
  height: calc(100% - 6.5rem);
  display: flex;

  .tableWithHeader-container {
    flex: 1;
    margin: 0 0.25rem 0 0;
    position: relative;
  }
}

.skillsTablesGrid {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 5rem);
  float: left;
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.skillsGrid {
  display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  align-content: flex-start;
  // max-height: 800px;
  width: 100%;
  padding: 0;

  > .skillTypeGrid {
    margin-left: 0.25rem;
    &:first-child {
      margin-left: 0;
      margin-right: 0.25rem;
    }
  }

  .skillTypeGrid {
    flex: 0 1 auto;
    flex-direction: column;
    margin: 0 0 0.5rem;
    padding: 0;
    border-color: rgba(0, 0, 0, .1);
    --notchSize: 0.5rem;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% 100%, 0 100%, 0% 0%, 0% 100%);

    &.skillColumnGrid {
      border: 1px solid #7a7971;
      background: rgba(255,255,255,0.5);
      flex: calc(50% - 0.25rem);
    }
  }

  .pure-g {
    letter-spacing: initial;
  }

  .skillTable {

    .skillsHeader {
      line-height: 1.313rem;
    
      div {
        text-align: left;
        padding: 0.25rem 0 0.25rem 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background-color: rgb(83, 93, 96);
        color: white;
        font-size: 0.7rem;
        font-weight: normal;
        &:last-child {
          text-align: center;
          padding-right: 0.75rem;
        }
      }
    }

    div.skill {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      & > div {
        text-align: center;

        &:first-of-type {
          text-align: left;
          padding-left: 0.25rem;
          padding-top: 0.25rem;
        }
      }

      input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
        margin: 0.25rem;
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      margin-top: 0.25rem;
      height: 1.5rem;
      width: 1.75rem;
      text-align: center;
    }
  }

  .dice-pool {
    margin: 0.5em 0;
    img {
      width: 1em;
      height: 1em;
      border: 0;
    }
  }
}