.item:hover {
  .hover {
    text-decoration: underline;
  }
}

.hover {
  &:hover {
    .tooltip {
      opacity: 1;
      z-index: 500;
    }
  }
  .tooltip {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: white;
    background-color: rgba(25, 24, 19, 0.9);
    border-radius: 0.25rem;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: -500;
    padding: 0 10px;
  }
}
